<!DOCTYPE html>
{{template "header" .}}
<body>
    <center><h1>{{.Name}}</h1></center>
    {{if .SecElement}}
    <section class="card">
    <div class="card-content">
    <div class="Heading">
        <span class="Id">{{.Id}}</span>. 
        <span class="Name">{{.Name}}</span>: The 
        <span class="Species">{{.Species}}</span>. From the Region of 
        <span class="Region">{{.Region}}</span>.
    </div>
    <div class="Specs">
        <span class="Height">{{.Height}}</span> tall and weighs 
        <span class="Weight">{{.Weight}}</span>.
        <span class="Typing">
            <span class="Element">{{.Element}}</span> type and 
            <span class="SecElement">{{.SecElement}}</span> type.
        </span>
    </div>
    <div class="PkdxText">
        <div class="PkdxEntry">{{.PkdxEntry}}</div>
    </div>
    </div>
    </section>
    {{else}}
    <section class="card">
    <div class="card-content">
    <div class="Heading">
            <span class="Id">{{.Id}}</span>. 
            <span class="Name">{{.Name}}</span>: The 
            <span class="Species">{{.Species}}</span>. From the Region of 
            <span class="Region">{{.Region}}</span>.
        </div>
        <div class="Specs">
            <span class="Height">{{.Height}}</span> tall and weighs
            <span class="Weight">{{.Weight}}</span>.
            <span class="Typing">
                <span class="Element">{{.Element}}</span> type.
            </span>
        </div>
        <div class="PkdxText">
            <div class="PkdxEntry">{{.PkdxEntry}}</div>
        </div>
        </div>
        </section>
    {{end}}
</body>
</html>