

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');


body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    background-color: blue;
}

.PkdxEntry {
    color: red;
}