<!DOCTYPE html>
<html lang="en">
<header>
    <style>
        body {
            padding: 20px 20px 20px 20px;
        }
        .card {
            padding: 5px 5px 5px 5px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 50%;
        }
        .card-content {
            padding: 2px 16px;
        }
        </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</header>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="active"><a href="/">Home</a></div>
        <a href="/pokedex">Pokedex</a>
        <a href="/randpoke">Random Pokemon</a>
        <a href="/whodat">Who's That Pokemon</a>
        <a href="/pokecheck">Pokedex Checklist</a>
    </nav>
    <center><h1>{{.Name}}</h1></center>
    {{if .SecElement}}
    <section class="card">
    <div class="card-content">
    <div class="Heading">
        <span class="Id">{{.Id}}</span>. 
        <span class="Name">{{.Name}}</span>: The 
        <span class="Species">{{.Species}}</span>. From the Region of 
        <span class="Region">{{.Region}}</span>.
    </div>
    <div class="Specs">
        <span class="Height">{{.Height}}</span> tall and weighs 
        <span class="Weight">{{.Weight}}</span>.
        <span class="Typing">
            <span class="Element">{{.Element}}</span> type and 
            <span class="SecElement">{{.SecElement}}</span> type.
        </span>
    </div>
    <div class="PkdxText">
        <div class="PkdxEntry">{{.PkdxEntry}}</div>
    </div>
    </div>
    </section>
    {{else}}
    <section class="card">
    <div class="card-content">
    <div class="Heading">
            <span class="Id">{{.Id}}</span>. 
            <span class="Name">{{.Name}}</span>: The 
            <span class="Species">{{.Species}}</span>. From the Region of 
            <span class="Region">{{.Region}}</span>.
        </div>
        <div class="Specs">
            <span class="Height">{{.Height}}</span> tall and weighs
            <span class="Weight">{{.Weight}}</span>.
            <span class="Typing">
                <span class="Element">{{.Element}}</span> type.
            </span>
        </div>
        <div class="PkdxText">
            <div class="PkdxEntry">{{.PkdxEntry}}</div>
        </div>
        </div>
        </section>
    {{end}}
</body>
</html>