<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <nav class="navbar navbar-fixed-top">
            <div class="active"><a href="/">Home</a></div>
            <a href="/pokedex">Pokdex</a>
            <a href="/randpoke">Random Pokemon</a>
            <a href="/whodat">Who's That Pokemon</a>
        </nav>
    </head>
    <body>
        <center><h1>Behold, The Complete Pokedex</h1></center>
        {{range .}}
            {{if .SecElement}}
            <div class="Heading">
                <span class="Id">{{.Id}}</span>. 
                <span class="Name"><a href="/pokemon/{{.Id}}">{{.Name}}</span></a>: The 
                <span class="Species">{{.Species}}</span>. From the Region of 
                <span class="Region">{{.Region}}</span>.
            </div>
            <div class="Specs">
                <span class="Height">{{.Height}}</span> tall and weighs 
                <span class="Weight">{{.Weight}}</span>.
                <span class="Typing">
                    <span class="Element">{{.Element}}</span> type and 
                    <span class="SecElement">{{.SecElement}}</span> type.
                </span>
            </div>
            <div class="PkdxText">
                <div class="PkdxEntry">{{.PkdxEntry}}</div>
            </div>
            {{else}}
            <div class="Heading">
                <span class="Id">{{.Id}}</span>. 
                <span class="Name"><a href="/pokemon/{{.Id}}">{{.Name}}</span></a>: The 
                <span class="Species">{{.Species}}</span>. From the Region of 
                <span class="Region">{{.Region}}</span>.
            </div>
            <div class="Specs">
                <span class="Height">{{.Height}}</span> tall and weighs
                <span class="Weight">{{.Weight}}</span>.
                <span class="Typing">
                    <span class="Element">{{.Element}}</span> type.
                </span>
            </div>
            <div class="PkdxText">
                <div class="PkdxEntry">{{.PkdxEntry}}</div>
            </div>
            {{end}}
        <br>
        {{end}}
    </body>
    

</html>