@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');


body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    padding: 20px 20px 20px 20px;
}

.PkdxEntry {
    color: red;
}

.Specs {
    margin: 5px;
}