<!DOCTYPE html> 
<html lang="en">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</header>
      <body>
            <nav class="navbar navbar-fixed-top">
                  <a href="/">Home</a>
                  <a href="/pokedex">Pokedex</a>
                  <a href="/randpoke">Random Pokemon</a>
                  <a href="/whodat">Who's That Pokemon</a>
                  <a href="/trainerList">Trainers</a>
            </nav>
            <center>
                  <h1>{{.}}</h1>
                  <h3>Difficulty Options:</h3>
                  <form action="/whodatEasy" method="POST">
                        <label for="easy">Easy:</label>
                        <input type="submit" mode="easy">
                  </form>
                  <form action="/whodatMedium" method="POST">
                        <label for="medium">Medium</label>
                        <input type="submit" id="medium" name="medium">
                  </form>
                  <form action="/whodatHard" method="POST">
                        <label for="hard">Hard</label>
                        <input type="submit" id="hard" name="hard">
                  </form>
            </center> 
      </body>     
</html>