<!DOCTYPE html> 
{{template "header" .}}
      <body>

            <center>
                  <h1>{{.}}</h1>
                  <h3>Difficulty Options:</h3>
                  <form action="/whodatEasy" method="POST">
                        <label for="easy">Easy:</label>
                        <input type="submit" mode="easy">
                  </form>
                  <form action="/whodatMedium" method="POST">
                        <label for="medium">Medium</label>
                        <input type="submit" id="medium" name="medium">
                  </form>
                  <form action="/whodatHard" method="POST">
                        <label for="hard">Hard</label>
                        <input type="submit" id="hard" name="hard">
                  </form>
            </center> 
      </body>     
</html>