<!DOCTYPE html>
<html lang="en">
<header>
    <style>
        body {
            padding: 20px 20px 20px 20px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</header>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="active"><a href="/">Home</a></div>
        <a href="/pokedex">Pokedex</a>
        <a href="/randpoke">Random Pokemon</a>
        <a href="/whodat">Who's That Pokemon</a>
        <a href="/pokecheck">Pokedex Checklist</a>
    </nav>
    <center>
        {{if .SecElement}}
            <span class="Typing">
                <h1 class="Element">{{.Element}} type and {{.SecElement}} type.</h1>
            </span>
            </div>
            <div class="PkdxText">
                <h1 class="PkdxEntry">{{.PkdxEntry}}</h1>
            </div>
        {{else}}
                <span class="Typing">
                    <h1 class="Element">{{.Element}} type.</h1>
                </span>
            </div>
            <div class="PkdxText">
                <h1 class="PkdxEntry">{{.PkdxEntry}}</h1>
            </div>
        {{end}}
    </center>
</body>
</html>