<!DOCTYPE html>
{{template "header" .}}
    <body>
        <center>
            {{if .SecElement}}
                <div class="Heading">
                    <h1 class="Species">The {{.Species}}.</h1>
                    <h1 class="Region">From the Region of {{.Region}}</h1>
                </div>
                <div class="Specs">
                    <h1 class="Height">Stands {{.Height}} tall and weighs {{.Weight}}.</h1>
                <span class="Typing">
                    <h1 class="Element">{{.Element}} type and {{.SecElement}} type.</h1>
                </span>
                </div>
                <div class="PkdxText">
                    <h1 class="PkdxEntry">{{.PkdxEntry}}</h1>
                </div>
            {{else}}
                <div class="Heading">
                    <h1 class="Species">The {{.Species}}.</h1>
                    <h1 class="Region">From the Region of {{.Region}}</h1>
                </div>
                <div class="Specs">
                        <h1 class="Height">Stands {{.Height}} tall and weighs {{.Weight}}.</h1>
                    <span class="Typing">
                        <h1 class="Element">{{.Element}} type.</h1>
                    </span>
                </div>
                <div class="PkdxText">
                    <h1 class="PkdxEntry">{{.PkdxEntry}}</h1>
                </div>
            {{end}}
        </center>
    </body>
</html>