<!DOCTYPE html>
{{template "header" .}}
<body>
    <center>
        {{if .SecElement}}
            <span class="Typing">
                <h1 class="Element">{{.Element}} type and {{.SecElement}} type.</h1>
            </span>
            </div>
            <div class="PkdxText">
                <h1 class="PkdxEntry">{{.PkdxEntry}}</h1>
            </div>
        {{else}}
                <span class="Typing">
                    <h1 class="Element">{{.Element}} type.</h1>
                </span>
            </div>
            <div class="PkdxText">
                <h1 class="PkdxEntry">{{.PkdxEntry}}</h1>
            </div>
        {{end}}
    </center>
</body>
</html>